<html>
    <head>
        {% include 'head.html.jinja' %}
    </head>
    <body>
        <script src="https://dohliam.github.io/dropin-minimal-css/switcher.js" type="text/javascript"></script>
        <header>
            {% include 'header.html.jinja' %}
            <h1>{{ metadata['title'] }}</h1>
            <p>{{ metadata['subtitle'] }}</p>
        </header>
        <main>
            <article>
                {{ article }}
            </article>
        </main>
    </body>
</html>