<html>
    <head>
        {% include 'head.html.jinja' %}
    </head>
    <body>
        <header>
            {% include 'header.html.jinja' %}
            <h1>{{ metadata['title'] }}</h1>
            <p>{{ metadata['subtitle'] }}</p>
            <a href="/index.html">By Alex Shadley</a>
        </header>
        <main>
            <article>
                {{ article }}
            </article>
        </main>
    </body>
</html>